{:deps
 {org.clojure/clojure    {:mvn/version "1.12.0"}
  com.cnuernber/charred  {:mvn/version "1.033"}
  com.lambdaisland/faker {:mvn/version "0.2.8"}

  ;; Kafka
  org.apache.kafka/connect-api   {:mvn/version "3.6.0"}
  org.apache.kafka/kafka-clients {:mvn/version "3.6.0"}

  ;; PostgreSQL
  com.github.seancorfield/next.jdbc {:mvn/version "1.3.894"}
  com.github.seancorfield/honeysql  {:mvn/version "2.5.1091"}
  org.postgresql/postgresql         {:mvn/version "42.4.0"}      ; "classic" pg jdbc driver
  com.impossibl.pgjdbc-ng/pgjdbc-ng {:mvn/version "0.8.9"}  ; new generation driver

  ;; Trino
  io.trino/trino-jdbc {:mvn/version "474"}

  ;; xtdb
  com.xtdb/xtdb-core    {:mvn/version "1.24.1"}
  com.xtdb/xtdb-rocksdb {:mvn/version "1.24.1"}
  com.xtdb/xtdb-kafka   {:mvn/version "1.24.1"}
  com.xtdb/xtdb-jdbc    {:mvn/version "1.24.1"}

  ;; serialization
  org.apache.avro/avro {:mvn/version "1.11.1"}

  ;; iceberg/nessie
  org.apache.iceberg/iceberg-core   {:mvn/version "1.8.1"}
  org.apache.iceberg/iceberg-nessie {:mvn/version "1.8.1"}
  org.apache.iceberg/iceberg-aws    {:mvn/version "1.8.1"}
  software.amazon.awssdk/s3         {:mvn/version "2.31.12"}
  software.amazon.awssdk/sts {:mvn/version "RELEASE"}}}
